@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --textColor: white;
}

/**********BASIC STYLES**********/
html {
    /*FONT:*/   
    font-family: 'Poppins', sans-serif;
    color: var(--textColor);
    font-size: 18px; 
    font-weight: 400;
    /*BACKGROUND:*/
    background-image: url('/images/blue-pink.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
body {
    margin: 10px auto; /*auto - center the linktree*/
}
main {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px; 
    max-width: 550px;
    margin: auto;
    width: auto;
}

/**********TYPOGRAPHY**********/
#userName {
    font-weight: 700; /*bold*/
}
#description {
    margin: 20px auto;
}
a {
    text-decoration: none;
    color: var(--textColor);
}

/**********PROFILE PICTURE**********/
#profile {
    width: 130px;
    height: 130px;
    display: block;
    margin: 20px auto;
    border-radius: 50%; /*round image*/
}

/**********SOCIAL**********/
.social {
    width: auto;
    max-width: 500px;
    margin: 15px auto;
}
.social a {
    text-align: center;
    border: 2px solid var(--textColor);
    border-radius: 10px;
    display: block; /*each link takes a whole line*/
    margin: 10px;
    padding: 10px; 
} 

/**********ICONS**********/
.icons {
    align-items: center; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.icons a {
    align-items: center;
    display: inline;
    margin: 25px;
    font-size: 30px;
}

/**********ALGORAND**********/
#algorand {
    height: 30px;
    padding-top: 5px;
}

/**********BUY ME A COFFEE**********/
#coffee {
    background: #FFDD00;
    color: black;
    border: 2px solid #FFDD00;
    border-radius: 10px;
    font-family: 'Cookie', cursive;
    font-size: 24px;
}

/**********FOOTER**********/
footer a {
    color: #FFDD00;
    text-decoration: none; 
}